trunk/design 4/xml/best_sellers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="bestsellers">
		<complexType>
			<sequence>
				<element name="book" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element type="int" name="copies" />
						</sequence>
						<attribute name="name" type="string" />
					</complexType>
				</element>
			</sequence>
		</complexType>
		<unique name="uniqueName">
			<selector xpath="book" />
			<field xpath="@name" />
		</unique>
	</element>
</schema>